#carousel-container{
	height: 460px;
	width: 100%;
	margin-bottom: 6px;
	background-color: #e1e1e1;
}

.carousel{
	position: relative;
	height: 100%;
	width: 100%;
}

.carousel .navigation{
	position: absolute;
	background-color: #BCBCBC;
	cursor: pointer;
	color: white;
	text-align: center;
	font-size: 31px;
	width: 37px;
	padding: 9px 9px 9px 9px;
	border-radius: 50%;
	opacity: .6;
}
.carousel .navigation:hover{
	background-color: #757575;
	opacity: 1;
}

.carousel img {
	height: 100%;
  	width: 100%;
}

.carousel .navigation.next{
	bottom: 10px;
	right: 5px;
}

.carousel .navigation.prev{
	bottom: 10px;
	left: 5px;
}

/*@-webkit-keyframes fadeIn {
    0%   {opacity: 0.2;}
    100% {opacity: 1;}
}

.inShowImage {
	-webkit-animation: fadeIn 3s 1;
	-moz-animation: fadeIn 3s 1;
	animation: fadeIn 3s 1;
}*/
