/* Facilities */

.facilities ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.facilities li {
	display: inline-block;
	width: 220px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
	position: relative;
}

.facilities li:before {
	content: '✔ ';
	color: #0896ff;
}

.facilities li .show-rating{
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
	background-color: beige;
	-webkit-transition: width .5s  ease-in-out; /* Safari */
    transition: width .5s  ease-in-out;
}

.facilities li .give-rating{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	z-index: 3;
	display: none;
	color: #999;
	font-size: 32px;
	text-align: center;
	opacity: .6;
	cursor: pointer;
}

.facilities li:hover .give-rating{
	display: block;
}

.facilities li .give-rating .rated {
	color: #feba02;
}