header, nav, section, article, aside, footer {
   display: block;
}

html {
	padding: 30px 0 100px 0;
	margin: 0;
	border-top: 70px solid #003580;
	background-color: #fff;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 13px;
	position: relative;
}

body {
	padding: 0;
	margin: 0 auto;
	width: 960px;
}

section {
	margin: 0 0 20px 0;
	clear: both;
}

h1 {
	font-size: 32px;
	color: #0896ff;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	color: #666;
}

/* header */

.header {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.hotel_name {
	margin: 0 0 5px 0;
}

.hotel_address {
	color: #999;
}

.stars {
	color: #feba02;
}

/* photos */

.photos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.photos .one_photo,
.photos .one_photo a {
	display: inline-block;
}

.photos .one_photo.active img{
	outline: 3px #0896ff solid;
}

.photos .one_photo img {
	margin: 3px;
	width: 80px;
}

/* reviews */

.reviews_list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.one_review {
	padding: 10px 10px 10px 100px;
	background-color: #e6edf6;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	min-height: 70px;
}

.one_review cite:before {
	content: '— ';
}

.review_score {
	position: absolute;
	top: 15px;
	left: 16px;
	width: 80px;
	background-color: #003580;
	color: #fff;
	text-align: center;
	font-size: 48px;
	border-radius: 5px;
}

.review_content {
	padding: 0;
	margin: 0;
}

.review_content cite {
	display: block;
	margin-top: 5px;
}




#map-canvas{
	width: 100%;
	height: 350px;
}


.visibility-hidden{
	visibility: hidden;	
}
