.pagination{

}

.pagination .static{
	display: inline-block;
	min-width: 45px;
	border: #003580 1px solid;
	margin: 2px;
	text-align: center;
	cursor: pointer;
}

.pagination .static:hover {
	background-color: #e6edf6;
	color: #000;
}

.pagination > div[pages] {
	display: inline-block;
	border: white 0px solid;
}

.pagination > div[pages] > div{
	display: inline-block;
	cursor: pointer;
	border: #003580 1px solid;
	min-width: 15px;
	margin: 2px;
	text-align: center;
}

.pagination > div[pages] > div.active.active{
	background-color: #003580;
	color: #fff;
}
.pagination > div[pages] > div:hover{
	background-color: #e6edf6;
	color: #000;
}