.related-hotel{
	display: inline-block;
	width: 25%;
	padding: 5px;
	box-sizing: border-box;
  	vertical-align: text-top;
}

.related-hotel .name,
.related-hotel .name h2{
	text-decoration: none;
	color: #0896ff;
	font-weight: bold;
	margin-top: 0px;
}

.related-hotel .name h2:hover{
	color: #feba02;
}
.related-hotel img{
	width: 100%;
	border-radius: 3px;
}

.related-hotel .rating{
	font-weight: bold;
	color: #0896ff;
	padding: 8px;
}

.related-hotel .more_link,
.related-hotel .more_link a {
	text-align: right;
	text-decoration: none;
	color: #feba02;
	padding: 10px 0px;
}

.related-hotel .desc {
	padding: 8px 0px;
	color: #003580;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}