/* rooms table */

.button {
	background-color: #0896ff;
	border-radius: 2px solid #fff;
	border: 2px solid #fff;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 3px #666;
	font-size: 13px;
}

.rooms_table {
	width: 100%;
}

.rooms_table th, .rooms_table td {
	padding: 5px;
}

.rooms_table tr:nth-child(2n) {
	background: #e6edf6;
}

.rooms_table_head_cols{
	cursor: pointer;
}

.rooms_table th {
	background-color: #003580;
	text-align: left;
	color: #fff;
	font-weight: bold;
	padding: 10px 5px;
}

.rooms_table .room_name {
	font-weight: bold;
}


.rooms_table .room_occupancy {
	text-align: center;
	width: 100px;
}

.rooms_table .room_price {
	text-align: right;
	width: 125px;
}

.rooms_table .room_quantity {
	text-align: center;
	width: 150px;
	cursor: default;
}

.rooms_table tfoot td {
	padding-top: 10px;
	text-align: right;
}

.sortUp {}

.sortUp::after {
	content: '▲';
	margin: 1px;
	color: #fff;
}

.sortDown {}

.sortDown::after {
	content: '▼';
	margin: 1px;
	color: #fff;
}